@import url(animations.css);

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  #__nuxt {
    @apply bg-light-bg dark:bg-dark-bg text-dark-text dark:text-light-text bg-fixed font-semibold min-h-screen overflow-x-hidden flex flex-col;
    background-image: url('/images/body/bg_white.webp'), url('/images/body/bg_black.webp');
  }
  
  @media (max-width: 768px) {
    #__nuxt {
      background-attachment: scroll;
    }
  }
}

@layer components {
  .grid-container {
    @apply grid;
    grid-template-columns: 
      [full-start] minmax(theme('spacing.widthContentMargin'), 1fr) 
      [main-start] minmax(0, theme('spacing.widthContent')) 
      [main-end] minmax(theme('spacing.widthContentMargin'), 1fr) 
      [full-end];
  }

  .grid-container > * {
    @apply col-[main];
  }

  .wrapper {
    @apply mx-auto w-[calc(100%-theme('spacing.widthContentMargin')*2)] max-w-[theme('spacing.widthContent')];
  }
}

@layer utilities {
  .list-decimal-leading-zero {
    list-style-type: decimal-leading-zero;
  }

  .scrollbar-measure {
    @apply w-20 h-20 overflow-scroll absolute -top-[9999px] bg-transparent;
  }

  .link {
    @apply transition-transform duration-500 hover:scale-110;
  }

  .animate-text {
    animation: background-pan 5s linear infinite;
    background: theme('backgroundImage.gradient-brand');
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    will-change: background-position;
  }

  .scroll {
    animation: scroll-down 3s infinite;
    will-change: transform;
  }
}